.imagebos {

}

table {
    text-align:center;
    width:100%;
}

@media screen and (max-width: 640px) {

    th {
        float: left;
    }
    tr td{
        width: 350px;
        height: 400px;
        float: left;
    }

    tr {
        clear: left;
    }

    table {
        overflow-x: auto;
        display: block;
    }
}

.table_item {
    text-align: center;
    padding: 5px;

}

#table_item_first {

}

#table_item_second {

}

.Table_Title {

    text-align: center;
    font-size: 30px;
}