<template name="Campus">

    <div class="campus">
        <h1> {{Title}} </h1>
        <h2> {{Rating}} </h2>

        <table style="width:100%">
            <tr>
                <th class="Table_Title">The Good Side</th>
                <th class="Table_Title">The Bad Size</th>

            </tr>
            {{#each facuts}}
                {{>facut this}}
            {{/each}}
        </table>
    </div>

</template>

<template name="facut">

    <tr>
        <td class="table_item" id="table_item_first"> {{>cards Img=(ImgG number=Id) }}</td>
        <td class="table_item" id="table_item_second"> {{>cards Img=(ImgB number=Id) }}</td>
    </tr>
</template>