<template name="Login">
    {{#if show }}
        <div class="LoginSide">
            <form autocomplete="off">
                <input type="text" name="campus" class = "LoginForm" placeholder="Campus Initials"/>
                <input type="username" name="username" class = "LoginForm" placeholder="Username"/>
                <input type="password" name="password" class = "LoginForm" placeholder="Password"/>
                <br>
                <div class="error" style="margin-left:10%; margin-top: 5px;">
                    {{#if get_login_error}}
                        Wrong login data!
                    {{/if}}
                </div>
                <br>
                <input type="submit" name="Log In" id="LoginSubmitButton"/>
            </form>
        </div>
    {{/if}}
</template>