#LoginSubmitButton {
    -webkit-appearance:none;
    width: 140px;
    height: 35px;
    border: none;
    margin-left: 25%;
    margin-top: 20px;
    background-color: white;
}

.LoginSide {
    float: right;
    padding-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color: aliceblue;
    width: 350px;
    height: 1200px;
}

.LoginForm {
    margin-left: 10%;
    width: 260px;
    margin-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    height: 25px;
    border-radius: 1px;
    border-color: black;
}